@import url("https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    width: 100vw;
    font-family: "Lato", sans-serif;
}

main {
    background: white;
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    max-width: 580px;
    margin-inline: auto;
}

form h1 {
    font-weight: 600;
    margin-bottom: 40px;
}

p {
    color: black;
    margin-bottom: 40px;
}

p a {
    text-decoration: none;
    color: royalblue;
    font-weight: 600;
}

.form-control,
input,
button,
select {
    width: 100%;
}

.form-control {
    margin-bottom: 20px;
}

input,
select,
button {
    padding: 10px;
    color: dimgray;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

label {
    font-size: 12px;
    color: dimgray;
}

button {
    background-color: lightgrey;
    cursor: pointer;
    margin-bottom: 20px;
    font-size: 14px;
}

aside {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    background-color: royalblue;
    color: white;
}

aside p {
    max-width: 350px;
    margin-inline: auto;
    color: white;
    line-height: 1.5;
}

.form-control {
    position: relative;
}

.form-control i {
    position: absolute;
    top: 15px;
    right: 5px;
}